@{
    ViewData["Title"] = "LunarField: Главная";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/LunarField.styles.css" asp-append-version="true"/>

<div class="fon">
    <img src="images/image 1.svg"></img>
    <div>TEST</div>
</div>

<div class="landing-block-content col-lg-12 text-center">
      <img src="images/Group 1.svg"></img>
    <p>LunarField</p>
    <p class="landing-block-text">
        Это платформа по созданию идеального персонализированного портфолио для любых целей.
    </p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>